body {
    margin:0;
}
#main {
    display:grid;
    grid-template-areas: 'header header header'
                         'nav nav nav'
                         'section section section'
                         'section2 section2 section2'
                         'footer footer footer';
    grid-template-rows: 400px 220px 300px 350px 70px;                     
}
header {
    grid-area: header;
    background-color:blue;
        }
header img {
    height:400px;
    width: auto;
}
nav {
    grid-area: nav;
    }
section {
    grid-area: section;
    background-color:rgb(198, 198, 198);
}
.section2 {
    grid-area:section2;
    
}
footer {
    grid-area: footer;
    background-color: rgb(198, 198, 198);
}