body {
    margin:0;
}
#main {
    display:grid;
    grid-template-areas: 'header header header'
                         'nav nav nav'
                         'section section section'
                         'section2 section2 section2'
                         'footer footer footer';
    grid-template-rows: 400px 220px 300px 350px 90px;                   
}
header {
    grid-area:header;
    display:flex;
    background-image: url(img/banner.png);
    background-size: cover;
    flex-flow:row;
    align-items: center;
    justify-content: space-evenly;
          }
        
.lado-esquerdo {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    }
.header-margin {
    margin: 15px 10px 100px 10px;
}
header h1 {
    color:white;
    font-size: 35pt;
    font-family:'Pacifico', cursive;
    font-weight:lighter;
   } 
span {
    color:rgb(46,204,111);
    font-family:'Pacifico', cursive;
}
header p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size:14pt;
}         
.hand {
    display:flex;
    justify-content: center;
    align-self: flex-end;
    width: auto;
    height:350px;
}
.banner-icons {
    display:flex;
    height: auto;
    width: 20px;
    height:20px;
    background-color:black;
    border-radius:50%;
    opacity: 0.5;
    padding: 10px;
    margin:5px;
         }
 .lado-esquerdo a{
     height:22px;
     width:24px;
     
 }        
.banner-icons:hover {
    background-color:rgb(46,204,111);
    opacity: 1.0;
}         
nav {
    grid-area:nav;
    display:flex;
    justify-content: space-around;
    align-items: center;
    }
nav h2 {
    font-size: 14pt;
    color: rgb(32, 31, 31);
} 
nav p {
    font-size: 10pt;
    margin: 5px;
    color: rgb(75, 72, 72);
}   
nav h2, nav p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.icones {
    width:50px;
    height:50px;
    background-color: rgb(46,204,111);
    border-radius:100%;
    padding: 10px;
    display:flex;
    justify-content: center;
    border-image: 100px;
    margin:10px 155px 10px 158px;
    }
section {
    grid-area:section;
    background-color:rgb(227, 227, 227);
    display: flex;
    flex-flow:row;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    font-family: 'Roboto', sans-serif;
   }
  .lado-esquerdo-section {
      margin:15px 15px 80px 20px;
  }
   section h2 {
    font-size: 14pt;
    color: rgb(32, 31, 31);
  }
section p {
    font-size: 10pt;
    margin: 5px;
    color: rgb(75, 72, 72);  
}
#gambiarra {
    display:flex;
    padding:10px 0;
}
input, button {
    padding:10px;
    border:none;
}
input {
    border-radius: 10px 0 0 10px;
    padding: 0 40px 0 10px;
}
button{
    background-color:rgb(46,204,111);
    border-radius: 0 10px 10px 0;
}
button a {
    text-decoration:none;
    color:white;
    font-size:12pt;
    font-style:bold;
    padding:30px;
}
.section2 {
    grid-area:section2;
    display:flex;
    justify-content: center;
    align-items: center;
}
.down {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size:10pt;
    margin: 40px 200px 15px 200px;
    color: rgb(75, 72, 72);
}
.down2{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size:14pt;
    margin: 15px 200px 25px 200px;
    color:rgb(32, 31, 31)
}
.down3{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size:16pt;
    margin: 40px 200px 15px 200px;
    color:rgb(32, 31, 31)
}
.down4{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size:10pt;
    margin: 5px 200px 20px 200px;
    color: rgb(75, 72, 72);
}
#homem {
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 30px 150px 15px 150px;
        
}
 
.chandler{
         
    width: 35px;
    height: 35px;
    background-image: url(./img/pessoa1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     
}

.chandler:hover {
      
      opacity: 0.3;
 }

.verde:hover{
    background-color:rgb(46,204,111);
    opacity: 1.6;
}

.icones-inferiores {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 500px 30px 500px;
}

.section-icons {
    display:flex;
    height: auto;
    width: 30px;
    justify-content:center;
    flex-direction:column;
         }
.icones-teimosos
{
    width:30px;
    height: 30px;
    border-radius:50%;
}
.oppacity {
    opacity: 0.7;
}
}
.size img{
    height:35px;
    width:auto;
}

footer {
    grid-area:footer;
    background-color: rgb(227, 227, 227);
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding:10px 400px 10px 400px;
}
footer a{
    text-decoration: none;
    color:grey;
    font-family: 'Roboto', sans-serif;
    font-size:10pt;
       }